.custom-homepage {
  margin: 0 auto;
  max-width: 100%;
  #main-outlet {
    padding-top: 0;
   }
}

.cards-list {
  overflow-x: auto;
  overflow-y: hidden;
  display: flex;
  flex-wrap: nowrap;
}

.card {
  margin: 5px;
  cursor: pointer;
}

.card .card_image {
  display: flex;
  flex-flow: column;
  align-items: center;
  background: var(--secondary, $secondary);
  border-radius: 8px;
  padding: 0.5em 2.5em;
  .svg-icon {
    font-size: $font-up-5;
    color: var(--tertiary, $tertiary);
    margin: 5px auto;
    text-align: center;
  }
}

.card .card_image:hover {
  background: var(--vaperina-btn);
}

.card_image::after {
  font-size: $font-0;
  font-family: var(--font-family);
  font-weight: 600;
  margin: 5px auto -5px auto;
  white-space: nowrap;
}

.tudastar-home .card_image::after {
  content: 'Tudástér';
}

.videotar-home .card_image::after {
  content: 'Tudástér';
}

.live-home .card_image::after {
  content: 'Vaperina Live';
}

.group-home .card_image::after {
  content: 'Csoportok';
}

.vapediy-home .card_image::after {
  content: 'VapeDIY';
}

.lokator-home .card_image::after {
  content: 'Vaper Lokátor';
}
